#about span {
    font-weight: bold;
    line-height: 3;
}
#about h1 {
    margin-bottom: 30px;
    text-align: center;
}
#about h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    margin: 0 2%;
}
img{
    border-radius: 50%;
    width: 200px;
    height: 200px;
    flex-shrink: 0;
}
.about-person:nth-child(even) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-person .first {
    background-image: url("/src/img/about-foto1.jpg");
}
.about-person:nth-child(odd) {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media screen and (min-width: 768px) {
    #about h1 {
        text-align: unset;
    }

    .about-foto {
        width: 30%;
        padding-bottom: 30%;
    }

    .about-person:nth-child(even) {
        flex-direction: row;
    }

    .about-person .first {
        margin: 0 20px 0 14px;
    }

    .about-person:nth-child(odd) {
        flex-direction: row-reverse;
        text-align: right;
    }

    .about-person .second {
        margin: 0 14px 0 30px;
    }

    @media screen and (min-width: 992px) {
        #about h1 {
            text-align: unset;
        }

        .about-foto {
            display: flex;
            width: 22%;
            padding-bottom: 22%;
        }
    }
}
